html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
    color: #333;
}

.site_title {
    font-size: 36px;
    font-weight: 700;
    padding: 25px 0 55px 0;
}

h5 {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 25px;
}

.titlePastfacts {
    margin-top: 45px;
}

.jiafact {
    
}

.jiafact .date {
    font-size: 13px;
    color: #999;
}

.jiafact .fact {
    line-height: 1.6;
    font-size:;
    font-weight: 400;
    font-size: 20px;
}

.jiafact .fact:before, .jiafact .fact:after {
    font-family: Times;
    font-size: 30px;
    font-weight: 600;
    color: #666;
}
.jiafact .fact:before {
    content: '“';
    margin-right: 5px;
}
.jiafact .fact:after {
    content: '”';
    margin-left: 5px;
}